<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital@0;1&display=swap" rel="stylesheet">
    <!-- google Material design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <!-- ckeditor5 CDN -->
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <aside class="bg-light text-dark vh-100 d-flex flex-column justify-content-between py-8">
      <nav>
        <h1 class="lh-0 mb-5">
          <a class="d-inline-block ps-8" href="index.html">
            <img src="./assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
          </a>
        </h1>
        <ul class="nav list-unstyled flex-column">
          <li class="nav-item">
            <a id="link-dashboard" class="nav-link link-dark" href="#">
              <span class="material-icons">
                assessment
              </span>
              <span class="fw-bold ms-4">
                Dashboard
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="link-question" class="nav-link link-dark" href="#">
              <span class="material-icons">
                question_answer
              </span>
              <span class="fw-bold ms-4">
                Question
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="link-assignment" class="nav-link link-dark active" href="index.html">
              <span class="material-icons">
                assignment
              </span>
              <span class="fw-bold ms-4">
                Assignment
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="link-course" class="nav-link link-dark" href="#">
              <span class="material-icons">
                video_library
              </span>
              <span class="fw-bold ms-4">
                Course
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="link-admin" class="nav-link link-dark" href="admin.html">
              <span class="material-icons">
                supervisor_account
              </span>
              <span class="fw-bold ms-4">
                Admin  
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="link-settings" class="nav-link link-dark" href="#">
              <span class="material-icons">
                settings
              </span>
              <span class="fw-bold ms-4">
                Settings
              </span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="d-flex ps-8">
        <img class="account-photo-size rounded-circle" src="./assets/images/photo-Andy.png" alt="account-photo">
        <div class="ms-4">
          <p class="fw-bold mb-1">Andy Chen</p>
          <p class="fs-7 text-gray-400">andy0401@mail.com</p>
        </div>
      </div>
    </aside>
    <main class="py-8">
      <%- contents %>
    </main>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>