@mixin size($width, $height:$width) {
  width: $width;
  height: $height;
}
@mixin nav-bar() {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 4px;
  height: 32px;
  background-color: $success;
}